// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  background: url(image_path('wood.jpeg'));
  width: 80%;
  margin: 50px auto 100px auto;
  font-size: 16px;
}

#container {
  background-color: #fff;
  
  -webkit-box-shadow: rgba(34, 25, 25, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(34, 25, 25, 0.5) 0 0 5px;
  box-shadow: rgba(34, 25, 25, 0.5) 0 0 5px;
  
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;

  padding: 20px 20px 20px 20px;
}

ul#retrieve_list{
  list-style: none;
  font-size: 1em;
}

.bookmark_preview{
  width: 300px;
}

#log{
  position: fixed;
  top: 40px;
  right: 40px;
}

#screenshot{
  position: fixed;
  width: 300px;
  border: 2px solid #555
}