<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <%= link_to "PirckMarks", root_path, class: "brand", id: "logo" %>

          <ul class="nav pull-right">
            <li><%= link_to "用Facebook登入", "#", id: "sign_in" %></li>
            
          </ul>


    </div>
  </div>
</header>