<!DOCTYPE html>
<html>
<head>
  <title>PickMarks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
  <%= csrf_meta_tags %>

  


</head>
<body>

<%= yield %>


</body>
</html>
